<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle nagivation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if (user) { %> 
      <form method="POST" action="/logout" class="form-inline">
        <div class="form-group form-inline">
          <label>Logged In As: <%= user['email'] %></label>
          <button type="submit" class="btn btn-outline-dark" style="margin: 1em">Logout</button>
        </div>
      </form>
    <% } else { %>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/login" style="margin: 1em">Login</a>
          <a class="nav-item nav-link" href="/register" style="margin: 1em">Register</a>
        </div>
      </div>
      <% } %>
  </nav>
</header>